aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
annotated-types==0.7.0
anytree==2.12.1
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.13.3
bert-score==0.3.13
bioc==2.1
boto3==1.37.18
botocore==1.37.18
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
conllu==4.5.3
contourpy==1.3.0
cycler==0.12.1
datasets==3.4.1
Deprecated==1.2.18
dill==0.3.8
Django==3.0
docopt==0.6.2
editdistance==0.8.1
filelock==3.17.0
flair==0.15.1
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.2.0
ftfy==6.3.1
gdown==5.2.0
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.68.0
grpcio==1.71.0rc2
grpcio-status==1.71.0rc2
httplib2==0.22.0
huggingface-hub==0.29.1
idna==3.10
imbalanced-learn==0.8.1
importlib-resources==6.5.2
intervaltree==3.1.0
jieba==0.42.1
jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
kiwisolver==1.4.7
langdetect==1.0.9
language-tool-python==2.9.0
lemminflect==0.2.3
lru-dict==1.3.0
lxml==5.3.1
MarkupSafe==3.0.2
matplotlib==3.9.4
more-itertools==10.6.0
mpld3==0.5.10
mpmath==1.3.0
multidict==6.2.0
multiprocess==0.70.16
mysqlclient==2.2.7
networkx==3.2.1
nltk==3.9.1
num2words==0.5.14
numpy==1.22.4
OpenHowNet==2.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pinyin==0.4.0
pptree==3.1
propcache==0.3.0
proto-plus==1.26.0
protobuf==5.29.3
psutil==7.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1-modules==0.4.1
pydantic==2.10.6
pydantic-core==2.27.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytorch-revgrad==0.2.0
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rsa==4.9
s3transfer==0.11.4
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.13.1
segtok==1.5.11
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.6
sqlitedict==2.1.0
sqlparse==0.5.3
sympy==1.13.1
tabulate==0.9.0
terminaltables==3.1.10
textattack==0.3.10
threadpoolctl==3.5.0
tokenizers==0.21.0
toml==0.10.2
torch==2.6.0
tqdm==4.67.1
transformer-smaller-training-vocab==0.4.0
transformers==4.49.0
typing-extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
wcwidth==0.2.13
Wikipedia-API==0.8.1
word2number==1.1
wrapt==1.17.2
xgboost==2.1.4
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0