{% include "admin/adminheader.html" %}
    <form action="" method="post">
        <table>
            <tr>
                <td colspan="2" align="center"> <h1>Add Question</h1></td>
            </tr>
            <tr>
                <td>Question</td>
                <td><textarea name="question" id="question" rows="3"></textarea></td>
            </tr>
            <tr>
                <td rowspan="4">Options</td>
                <td>A <input type="text" name="optiona" id="optiona"></td>
            </tr>
            <tr>
                <td>B <input type="text" name="optionb" id="optionb"></td>
            </tr>
            <tr>
                <td>C <input type="text" name="optionc" id="optionc"></td>
            </tr>
            <tr>
                <td>D <input type="text" name="optiond" id="optiond"></td>
            </tr>
            <tr>
                <td>Correct Option</td>
                <td><input type="radio" name="answer" value="a">A&nbsp;<input type="radio" name="answer" value="b">B
                    <input type="radio" name="answer" value="c">C&nbsp;<input type="radio" name="answer" value="d">D&nbsp;</td>
            </tr>
            <tr>
                <td>Type</td>
                <td><input type="text" name="typeqn" id="typeqn"></td>
            </tr>
            <tr>
                <td>Difficulty Level</td>
                <td><input type="radio" name="difficulty" value="easy">Easy&nbsp;<input type="radio" name="difficulty" value="medium">Medium&nbsp;<input type="radio" name="difficulty" value="hard">Hard&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="submit" id="submit">
                    <input type="reset" name="reset" id="reset">
                </td>
            </tr>
        </table>
    </form>
{% include "public/footer.html" %}