{% include "admin/adminheader.html" %}
<style>
    

    input[type="text"],
    textarea {
       width: 100%;
       padding: 8px;
       font-size: 14px;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
   }

    textarea {
       resize: none;
   }

    input[type="radio"] {
       margin-right: 5px;
   }

    input[type="submit"] {
       background-color: #4CAF50;
       color: white;
       border: none;
       padding: 10px 20px;
       font-size: 14px;
       border-radius: 4px;
       cursor: pointer;
   }

    input[type="submit"]:hover{
       background-color: #45a049;
   }

   input[type="reset"] {
   background-color: #f44336; /* Bright red */
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 14px;
   border-radius: 4px;
   cursor: pointer;
}

input[type="reset"]:hover {
   background-color: #e53935; /* Slightly darker red */
}

</style>

<div class="container" style="min-height: 80vh;">
   <form action="" method="post">
       <h2 align="center">Add Question</h2><br>
       <table class="table"  style="width: 65%;" align="center">
            <tr>
                <td>Question</td>
                <td><textarea name="question" id="question" rows="3" required></textarea></td>
            </tr>
            <tr>
                <td rowspan="4">Options</td>
                <td>A <input type="text" name="optiona" id="optiona" required></td>
            </tr>
            <tr>
                <td>B <input type="text" name="optionb" id="optionb" required></td>
            </tr>
            <tr>
                <td>C <input type="text" name="optionc" id="optionc" required></td>
            </tr>
            <tr>
                <td>D <input type="text" name="optiond" id="optiond" required></td>
            </tr>
            <tr>
                <td>Correct Option</td>
                <td style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; align-items: center;">
                        <input type="radio" name="answer" value="a" id="a" required>
                        <label for="a">A</label>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <input type="radio" name="answer" value="b" id="b" required>
                        <label for="b">B</label>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <input type="radio" name="answer" value="c" id="c" required>
                        <label for="c">C</label>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <input type="radio" name="answer" value="d" id="d" required>
                        <label for="d">D</label>
                    </div>
                </td>                
            </tr>
            <tr>
                <td>Answer Description</td>
                <td><textarea name="description" id="description" name="description" required></textarea></td>
            </tr>
            <tr>
                <td>Type</td>
                <td style="display: flex; justify-content: space-between; width: 100%;">
                    <div style="display: flex; align-items: center;">
                        <input type="radio" name="type" id="verbal" value="Verbal" required>
                        <label for="verbal">Verbal Ability</label>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <input type="radio" name="type" id="quantitative" value="Quantitative" required>
                        <label for="quantitative">Quantitative Ability</label>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <input type="radio" name="type" id="logical" value="Logical" required>
                        <label for="logical">Logical Ability</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Difficulty Level</td>
                <td style="display: flex; justify-content: space-between; width: 100%;">
                    <div style="display: flex; align-items: center;">
                        <input type="radio" name="difficulty" value="Easy" required>
                        <label>Easy</label>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <input type="radio" name="difficulty" value="Medium" required>
                        <label>Medium</label>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <input type="radio" name="difficulty" value="Hard" required>
                        <label>Hard</label>
                    </div>
                </td>
            </tr>            
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="submit" id="submit">
                    <input type="reset" name="reset" id="reset">
                </td>
            </tr>
        </table>
    </form>
{% include "public/footer.html" %}