{% include "admin/adminheader.html" %}
<style>
    label {
       font-weight: bold;
       margin-right: 10px;
   }

    input[type="text"],
    textarea {
       width: 100%;
       padding: 8px;
       font-size: 14px;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
   }

    textarea {
       resize: none;
   }

    input[type="radio"] {
       margin-right: 5px;
   }

    input[type="submit"] {
       background-color: #4CAF50;
       color: white;
       border: none;
       padding: 10px 20px;
       font-size: 14px;
       border-radius: 4px;
       cursor: pointer;
   }

    input[type="submit"]:hover{
       background-color: #45a049;
   }

   input[type="reset"] {
   background-color: #f44336; /* Bright red */
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 14px;
   border-radius: 4px;
   cursor: pointer;
}

input[type="reset"]:hover {
   background-color: #e53935; /* Slightly darker red */
}

</style>

<div class="container" style="min-height: 80vh;">
   <form action="" method="post">
       <h2 align="center">Change Password</h2><br>
       <table class="table"  style="width: 65%;" align="center">
            <tr>
                <td>Current Password</td>
                <td><input type="text" name="current" id="current" required></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="text" name="new" id="new" required></td>
            </tr>
            <tr>
                <td>Confirm New Password</td>
                <td><input type="text" name="cnew" id="cnew" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="submit" id="submit">
                    <input type="reset" name="reset" id="reset">
                </td>
            </tr>
        </table>
    </form>
    {% include "public/footer.html" %}