{% include "admin/adminheader.html" %}
    <form action="" method="post">
        <table>
            <tr>
                <th colspan="2" align="center">Change Password</th>
            </tr>
            <tr>
                <td>Current Password</td>
                <td><input type="text" name="current" id="current"></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="text" name="new" id="new"></td>
            </tr>
            <tr>
                <td>Confirm New Password</td>
                <td><input type="text" name="cnew" id="cnew"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="submit" id="submit">
                    <input type="reset" name="reset" id="reset">
                </td>
            </tr>
        </table>
    </form>
    {% include "public/footer.html" %}