{% include 'admin/adminheader.html' %}
{% if data %}
    <form action="" method="post">
        <table>
            <tr>
                <td colspan="2" align="center"><h1>Update Content</h1></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" name="title" id="title" value="{{data.title}}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea name="description" id="description" rows="3">{{data.description}}</textarea></td>
            </tr>
            <tr>
                <td>Link</td>
                <td><input type="text" name="content" id="content" value="{{data.file_path}}"></td>
            </tr>
            <tr>
                <td>Type</td>
                <td><input type="radio" name="type" id="verbal" value="verbal">
                <label>Verbal Ability</label>
                <input type="radio" name="type" id="quantitative" value="quantitative">
                <label>Quantitative Ability</label>
                <input type="radio" name="type" id="logical" value="logical">
                <label>Logical Ability</label></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="submit" id="submit" value="Update">
                    <input type="reset" name="reset" id="reset">
                </td>
            </tr>
        </table>
    </form>
   
{% endif %}
{% include "public/footer.html" %}