{% include "admin/adminheader.html" %}
{% if data %}
<style>
    
    input[type="text"],
    textarea {
       width: 100%;
       padding: 8px;
       font-size: 14px;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
   }

    textarea {
       resize: none;
   }

    input[type="radio"] {
       margin-right: 5px;
   }

    input[type="submit"] {
       background-color: #4CAF50;
       color: white;
       border: none;
       padding: 10px 20px;
       font-size: 14px;
       border-radius: 4px;
       cursor: pointer;
   }

    input[type="submit"]:hover{
       background-color: #45a049;
   }

   input[type="reset"] {
   background-color: #f44336; /* Bright red */
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 14px;
   border-radius: 4px;
   cursor: pointer;
}

input[type="reset"]:hover {
   background-color: #e53935; /* Slightly darker red */
}

</style>

<div class="container" style="min-height: 80vh;">
   <form action="" method="post">
       <h2 align="center">Update Question</h2><br>
       <table class="table"  style="width: 65%;" align="center">
            <tr>
                <td>Question</td>
                <td><textarea name="question" id="question" rows="3" required>{{ data.question }}</textarea></td>
            </tr>
            <tr>
                <td rowspan="4">Options</td>
                <td>A <input type="text" name="optiona" id="optiona" value="{{data.optiona}}"" required></td>
            </tr>
            <tr>
                <td>B <input type="text" name="optionb" id="optionb" value="{{data.optionb}}" required></td>
            </tr>
            <tr>
                <td>C <input type="text" name="optionc" id="optionc" value="{{data.optionc}}" required></td>
            </tr>
            <tr>
                <td>D <input type="text" name="optiond" id="optiond" value="{{data.optiond}}" required></td>
            </tr>
            <tr>
    <td>Correct Option</td>
    <td style="display: flex; justify-content: space-between; width: 100%;">
        <div style="display: flex; align-items: center;">
            <input type="radio" name="answer" value="a" {% if data.answer == 'a' %} checked {% endif %} required>
            <label for="a">A</label>
        </div>
        <div style="display: flex; align-items: center;">
            <input type="radio" name="answer" value="b" {% if data.answer == 'b' %} checked {% endif %} required>
            <label for="b">B</label>
        </div>
        <div style="display: flex; align-items: center;">
            <input type="radio" name="answer" value="c" {% if data.answer == 'c' %} checked {% endif %} required>
            <label for="c">C</label>
        </div>
            <input type="radio" name="answer" value="d" {% if data.answer == 'd' %} checked {% endif %} required>
            <label for="d">D</label>
        </div>
    </td>
</tr>
<tr>
    <td>Answer Description</td>
    <td><textarea name="description" id="description" required>{{data.answer_description}}</textarea></td>
</tr>
<tr>
    <td>Type</td>
    <td style="display: flex; justify-content: space-between; width: 100%;">
        <div style="display: flex; align-items: center;">
            <input type="radio" name="type" id="verbal" value="Verbal" {% if data.question_type == 'Verbal' %} checked {% endif %} required>
            <label for="verbal">Verbal Ability</label>
        </div>
        <div style="display: flex; align-items: center;">
            <input type="radio" name="type" id="quantitative" value="Quantitative" {% if data.question_type == 'Quantitative' %} checked {% endif %} required>
            <label for="quantitative">Quantitative Ability</label>
        </div>
        <div style="display: flex; align-items: center;">
            <input type="radio" name="type" id="logical" value="Logical" {% if data.question_type == 'Logical' %} checked {% endif %} required>
            <label for="logical">Logical Ability</label>
        </div>
    </td>
</tr>
<tr>
    <td>Difficulty Level</td>
    <td style="display: flex; justify-content: space-between; width: 100%;">
        <div style="display: flex; align-items: center;">
            <input type="radio" name="difficulty" value="Easy" {% if data.difficulty == 'Easy' %} checked {% endif %} required>
            <label for="easy">Easy</label>
        </div>
        <div style="display: flex; align-items: center;">
            <input type="radio" name="difficulty" value="Medium" {% if data.difficulty == 'Medium' %} checked {% endif %} required>
            <label for="medium">Medium</label>
        </div>
        <div style="display: flex; align-items: center;">
            <input type="radio" name="difficulty" value="Hard" {% if data.difficulty == 'Hard' %} checked {% endif %} required>
            <label for="hard">Hard</label>
        </div>
    </td>
</tr>

            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="submit" id="submit">
                    <input type="reset" name="reset" id="reset">
                </td>
            </tr>
        </table>
    </form>

{% endif %}
{% include "public/footer.html" %}