{% include 'admin/adminheader.html' %}

<div class="container" style="min-height: 80vh;">
<h2 style="text-align: center;">View Complaints</h2><br>
<table style="text-align: center;" class="table">
    <tr>
        <th>Sl No</th>
        <th>Complaint Description</th>
        <th>Date</th>
        <th>Reply Status(Yes/No)</th>
        <th>Reply</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.complaint_description}}</td>
        <td>{{i.complaint_date}}</td>
        <td>{{i.complaint_status}}</td>
        {% if i.complaint_status == "YES" %}
        <td>{{i.complaint_reply}}</td>
        {% else %}
        <td><a href="/sentreply/{{i.id}}" class="btn btn-success">Sent Reply</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
{% include "public/footer.html" %}