{% include 'admin/adminheader.html' %}


<h1>View Questions</h1>
<table style="text-align: center;">
    <tr>
        <th rowspan="2">Sl No</th>
        <th rowspan="2">Question</th>
        <th colspan="4">Options</th>
        <th rowspan="2">Answer</th>
        <th rowspan="2">Description</th>
        <th rowspan="2">Type</th>
        <th rowspan="2">Difficulty</th>
    </tr>
    <tr>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
    </tr>
        {% for i in data %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.question}}</td>
        <td>{{i.optiona}}</td>
        <td>{{i.optionb}}</td>
        <td>{{i.optionc}}</td>
        <td>{{i.optiond}}</td>
        <td>{{i.answer}}</td>
        <td>{{i.answer_description}}</td>
        <td>{{i.question_type}}</td>
        <td>{{i.question_level}}</td>
        <td><a href="/updatequestion/{{i.id}}">Update</a></td>
        <td><a href="/deletequestion/{{i.id}}" onclick="return confirm('Are you sure you want to delete this content?');">Delete</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="10"><a href="addquestion">Add Question</a></td>
        </tr>
        </table>
{% include "public/footer.html" %}